[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
google-cloud-compute = "*"
google-api-core = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.8"
